* {
  margin: 0px;
  padding: 0px;
  font-family: Open Sans;
}

body, html, .wrapper {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

nav {
  text-align: center;
  width: 100%;
  background-color: #404041; 
}

.ultimate-title {
  color: #FFFFFF;
  padding-bottom: 15px;
  font-size: 22px;
}


.flex-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

/* fonts */

h1, .number-returned {
  color: #DD1972;
  display: inline;
  padding: 10px;
  text-align: center;
}
h4 {
  font-weight: lighter;
}

p, label {
  color: #6E6E6E;
  font-weight: 300;
}
.min-entry, .max-entry {
  color: #6E6E6E;
  font-weight: bold;
  text-decoration: underline;
}

#user1-guess, #user2-guess {
  height: 30px;
  width: 190px;
}

#user1-name, #user2-name {
  height: 30px;
  width: 275px;
}

/*highlight field if no input
#min-range, #max-range:invalid { 
  border-color: #DD1972;
}*/

#submit-guess-input {
  height: 30px;
  width: 400px;
}
.min-error-message, .max-error-message {
  display: inline-block;
  color: #DD1972;
  padding-right: 45px;
}
.thicker {
  font-weight: 700;
  font-size: 70px;
}
.thicker::after {
  content: 'GUESSER';
  font-weight: 300;
  font-size: 70px;
}
.number-returned {
  font-weight: 700;
  font-size: 70px;
}
h2 {
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 50px;
}

h3 {
  color: #DD1972;
}

/* left column */
.left-column {
  height: 100%;
  width: 100%;
  background-color: #F7F7F7;
}

.set-range-box {
  background-color: #FFFFFF;
  border: 2px #D0D2D3 solid;
  margin: 15px 10px 10px 10px;
  padding: 5px 15px;
}

.player-box {
  background-color: #FFFFFF;
  padding: 18px;
  border: 2px #D0D2D3 solid;
  margin: 10px;
}

.score-box {
  background-color: #FFFFFF;
  padding: 10px;
  border: 2px #D0D2D3 solid;
  margin: 10px;
}
#vl {
  height: 94px;
  display: inline-block;
  border-left: 2px solid #D0D2D3;
}

}

.clear, .reset {
  font-weight: bold;
}

input, .min-range-section, .max-range-section {
  display: inline-block;
  font-weight: bold;
}

.challenger-name, .challenger-guess {
  display: inline-block;
}

.challenger-latest-score {
  display: inline-block;
  text-align: center;
  padding: 0px 55px;
  text-align: center;
}

.user1-num-returned, .user2-num-returned {
  color: #F74D9B;
  font-size: 50px;
  font-weight: bold;
}
.latest-score-text, .challenger1-text, .challenger2-text {
  font-weight: bold;
  text-align: left;
  padding: 5px 0px;
}
.name1, .name2 {
  font-weight: bold;
  font-size: 14px;
}
.card-players-text {
  font-weight: bold;
  text-align: left;
  padding: 5px 0px;
}
.vs {
  font-weight: lighter;
}

/* right column */
.right-column {
  background-color: grey;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.winner-stats {
  height: auto;
  width: 530px;
  background-color: #FFF;
  padding: 5px;
  margin: 5px;
}

hr {
  margin: 3px;
  border-color: 2px solid #F7F7F7;
  display: inline-block;
  width: 90%;
}

/* player win cards */
p.number-of-guesses, .time-to-win, .fa-times-circle {
  display: inline-block;
}

div.counter-time-and-delete {
  margin: auto;
}

/* buttons */
button, .reset, .clear {
  color: #FFFFFF;
  font-weight: bold;
  display: inline-block;
}

.all-buttons {
  display: flex;
}

.update-range {
  background-color: #6E6E6E;
  border-radius: 20px;
  width: 90px;
  height: 30px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 14px;
}

#min-range, #max-range {
  height: 30px;
  width: 185px;
}

.submit-guess-button {
  background-color: #6E6E6E;
  border-radius: 20px;
  width: 33%;
  height: 30px;
  margin: 10px;
  font-size: 14px;
}

.clear {
  background-color: #6E6E6E;
  border-radius: 20px;
  position: sticky;
  margin: 10px;
  height: 30px;
  width: 33%;
  font-size: 14px;
}

.clear:disabled {
  background-color: #D0D2D3;
}

.reset {
  background-color: #6E6E6E;
  border-radius: 20px;
  margin: 10px;
  height: 30px;
  width: 33%;
  font-size: 14px;
}

.reset:disabled {
  background-color: #D0D2D3;
}




