* {
  margin: 0px;
  padding: 0px;
  font-family: Open Sans;
}
body, html, .wrapper {
  height: 100%;
}
hr {
  margin: 5px;
  color: #404041;
}
.wrapper {
  display: flex;
  flex-direction: row;
}
section {
  align-content: center;  
  height: 100%;
}

.flex-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

/* fonts */

h1, .number-returned {
  color: #DD1972;
  padding: 10px;
  text-align: center;
  display: inline;
}
p, label {
  color: #6E6E6E;
}
.min-entry, .max-entry {
  color: #6E6E6E;
  font-weight: bold;
  text-decoration: underline;
}
#min-range, #max-range {
  height: 30px;
  width: 190px;
}

/*highlight field if no input
#min-range, #max-range:invalid { 
  border-color: #DD1972;
}*/

#submit-guess-input {
  height: 30px;
  width: 400px;
}
.min-error-message, .max-error-message {
  display: inline-block;
  color: #DD1972;
  padding-right: 45px;
}
.thicker {
  font-weight: 700;
  font-size: 70px;
}
.thicker::after {
  content: 'GUESSER';
  font-weight: 300;
  font-size: 70px;
}
.number-returned {
  font-weight: 700;
  font-size: 70px;
}
h2 {
color: #FFFFFF;
font-weight: lighter;
font-size: 50px;
}

h3 {
  color: #DD1972;
}

/* left column */
.left-column {
  width: 100%;
  align-items: center;
  background-color: #F7F7F7;
  padding: 20px;
}
.clear, .reset {
  font-weight: bold;
  display: inline-block;
}

input, .min-range-section, .max-range-section {
  display: inline-block;
  font-weight: bold;
}

.challenger-name, .challenger-guess {
  display: inline-block;
}

.challenger-latest-score {
  display: inline-block;
}

/* right column */
.right-column {
  background-color: #404041;
  width: 100%;
  text-align: center;
  padding: 20px;
}

.winner-stats {
  height: auto;
  width: 530px;
  background-color: lightgrey;
  padding: 5px;
  margin: 5px;
}

/*buttons*/

button, .reset, .clear {
  color: #FFFFFF;
  font-weight: bold;
}

.submit-guess-button {
  background-color: #6E6E6E;
  border-radius: 20px;
  display: block;
  position: absolute;
  width: 250px;
  padding: 5px;
  margin: 10px;
}

.clear {
  background-color: #6E6E6E;
  border-radius: 20px;
  position: sticky;
  margin: 30px auto;
  width: 135px;
}

.clear:disabled {
  background-color: #D0D2D3;
}


.reset {
  background-color: #6E6E6E;
  border-radius: 20px;
  margin: 45px;
  width: 135px;
}

.reset:disabled {
  background-color: #D0D2D3;
}

.update-range {
  background-color: #6E6E6E;
  border-radius: 20px;
  width: 100px;
  color: #FFFFFF;
  font-weight: bold;
}


